<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reviewing</title>
  <script src="  https://unpkg.com/vue@2.5.3/dist/vue.js" charset="utf-8"></script>
</head>
  <body>
    <div id="app-2">
      <ol>
        <li v-for="todo in todos">
          {{todo.text}}
        </li>
      </ol>
    </div>
    <div id="app-3">
      <span v-if="seen" >Now you see me</span>
    </div>
    <div id="root">
      <p v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </p>
    </div>

    <script type="text/javascript">
var app_2=new Vue({
  el:'#app-2',
  data:{
    todos:[
      { text: 'Learn JavaScript' },
      { text: 'Learn Vue' },
      { text: 'Build something awesome' }
    ]
  }
})

    var app_3 = new Vue({
      el:'#app-3',
      data:{
        seen:true
      }
    });
    var root = new Vue({
      el:'#root',
      data:{
        message:'You loaded this page on '+new Date().toLocaleString()
      }
    })
    </script>
  </body>
</html>
